.venv/
.DS_Store
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
.swiftpm/
Packages/
*.playground
playgrounds/timeline.xctimeline
playgrounds/playground.xcworkspace
xcshareddata/WorkspaceSettings.xcsettings
.idea/
Resources/Secrets.plist
