<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PixabayAPIKey</key>
	<string>YOUR_PIXABAY_API_KEY</string>
	<key>PexelsAPIKey</key>
	<string>YOUR_PEXELS_API_KEY</string>
	<key>GoogleCustomSearchAPIKey</key>
	<string>YOUR_GOOGLE_API_KEY</string>
	<key>GoogleCustomSearchEngineID</key>
	<string>YOUR_SEARCH_ENGINE_ID</string>
</dict>
</plist>
